// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$primary: hsl(6, 82%, 59%);
$secondary: hsl(222, 11%, 17%);
$secondary-300: hsl(0, 0%, 24%);
$light: hsl(0, 0%, 83%);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "secondary-300": $secondary-300,
  "light": $light,
);

$border-radius: 0.4rem;
$font-family-base: "Lato", sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
);

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/bootstrap.scss"; // Required


// custom spacers
$custom-spacers: (
  6: (
    $spacer * 3.75,
  ),
  7: (
    $spacer * 5,
  ),
  8: (
    $spacer * 8.68,
  ),
  9: (
    $spacer * 14,
  ),
);

$spacers: map-merge($spacers, $custom-spacers);

// utility classes
.fs-100 {
  font-size: 0.8125rem;
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.border-400 {
  border-width: 4px !important;
}

// header section styles 
.social-header ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// navbar styles
.custom-navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  gap: 1.5rem
}

.nav-link {
  color: $secondary-300;
  font-weight: 400;
}


// main content styles
// 1. landing-section styles
.landing-section {
  min-height: 100vh;
  background: url('../assets/img/main/') !important;
}