// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$primary: hsl(6deg, 82%, 59%);
$secondary: hsl(222deg, 11%, 17%);
$secondary-300: hsl(0deg, 0%, 24%);
$secondary-200: hsl(0deg, 0%, 53%);
$light: hsl(0deg, 0%, 83%);
$white-200: hsl(240deg, 7%, 97%);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "secondary-300": $secondary-300,
  "light": $light,
  "white-200": $white-200,
);

$border-radius: 0.4rem;
$font-family-base: "Lato", sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
);

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
@import "bootstrap/scss/bootstrap"; // Required

// utility classes
html {
  scroll-behavior: smooth;
}

.primary-header {
  font-size: 1.9rem;
  font-weight: 900;
  color: $secondary-300;
}

#leading-header {
  font-size: 2.2rem;
  font-weight: 900;
  color: rgba(229, 33, 11, 0.8);
  background: url("../img/main/past-2.svg");
  -webkit-background-clip: text;
  mix-blend-mode: multiply;
}

.sub-header {
  font-size: 1.5rem;
  font-weight: 400;
  color: $secondary-300;
}

@media screen and (min-width: 48rem) {
  #leading-header {
    font-size: 4rem;
  }

  .primary-header {
    font-size: 2.5rem;
  }

  .sub-header {
    font-size: 2rem;
    font-weight: 400;
    color: $secondary-300;
  }
}

.secondary-header {
  font-size: 1.7rem;
  font-weight: 700;
}

.fs-100 {
  font-size: 0.85rem;
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
  color: $secondary-300;
}

.border-200 {
  border-width: 2px;
}

.border-400 {
  border-width: 4px;
}

.pt-7 {
  padding-top: 79px;
}

.pb-7 {
  padding-bottom: 79px;
}

.py-6 {
  padding-block: 20px;
}

.py-9 {
  padding-block: 90px;
}

.px-7 {
  padding-inline: 79px;
}

.pt-9 {
  padding-top: 90px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pb-x {
  padding-bottom: 181px;
}

.divider {
  max-width: 40px;
  margin-inline: auto;
  border-width: 2px;
}

.text-xl {
  font-size: 3rem;
}

.w-10 {
  width: 20px;
  margin-block: 5px;
}

@media screen and (min-width: 48em) {
  .py-6 {
    padding-block: 50px;
  }
}
// header section styles
.social-header,
.custom-navbar {
  display: none;
}

// .custom-navbar {
//   display: none;
// }

@media screen and (min-width: 48em) {
  .social-header,
  .custom-navbar {
    display: block;
  }
}

.open {
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $secondary !important;
  z-index: 100;
  padding: 0;
}

.close {
  display: none;
}

.open .close {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
}

.open .container {
  padding: 0;
  margin: 0;
}

.open ul {
  display: block;
  width: 100%;
}

.open ul li:hover {
  background-color: hsla(0, 0%, 0%, 0.404);
}

.open ul li:last-child {
  padding-left: 1rem;
}

.open ul li a {
  color: $light;
}

.open ul li:hover a {
  color: $primary;
}

.open .navbar-brand {
  display: none;
}

.social-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// navbar styles
.custom-navbar {
  background-color: transparent;
}

.custom-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: none;
  gap: 1.5rem;
}

@media screen and(min-width: 48em) {
  .main-nav {
    display: flex;
  }
}

.nav-link {
  font-weight: 400;
  color: $secondary-300;
}

.menu {
  cursor: pointer;
  position: absolute;
  top: 20px;
}

@media screen and (min-width: 48em) {
  .menu {
    display: none;
  }
}

// main content styles
// 1. landing-section styles
#landing-section {
  background: url("../img/main/mobile_intro_bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

@media screen and (min-width: 48em) {
  #landing-section {
    background: url("../img/main/main-background.png");
    background-position: center left -50px;
  }
}

#intro {
  max-width: 700px;
  background-color: $white-200;
  border: 5px solid #fff;
}

address {
  font-size: 1.1rem;
  color: $secondary-200;
}

.hero-img {
  width: 100%;
  height: auto;
}

// 2. main-program styles
.main-program {
  background: $secondary url("../img/main/pattern-bg.png");
  background-position: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

@media screen and (min-width: 48em) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}

.program-list {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  color: $light;
  background-color: hsla(0deg, 0%, 53%, 0.3);
  border: 2px solid transparent;
}

.program-list:hover {
  cursor: pointer;
  border: 2px solid $light;
}

.program-title {
  font-size: 1rem;
}

@media screen and (min-width: 48rem) {
  .program-list {
    flex-direction: column;
    text-align: center;
  }

  .program-title {
    font-size: 1.5rem;
  }
}

// 3.speaker's section style

.speaker-list {
  display: grid;
  gap: 2rem;
}

.speaker {
  display: flex;
  gap: 1rem;
}

blockquote {
  font-size: 14px;
  font-style: italic;
}

@media screen and (min-width: 48em) {
  .speaker-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

// about.html file styles
.about-section {
  background: $white-200 url("../img/main/about_bg_01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-intro {
  max-width: 980px;
  margin-inline: auto;
}

@media screen and (min-width: 48em) {
  .about-section {
    background: $white-200 url("../img/main/about_bg_01.png");
    background-repeat: no-repeat;
    background-position: top 45px center;
  }
}

// about logo section about.html file
.logo-desc {
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
}
// previous cc summits section styles
.img-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-around;
  padding: 30px;
}

@media screen and (min-width: 48em) {
  .img-container {
    flex-direction: row;
  }
}

// footer section styles
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 48em) {
  .footer-wrapper {
    flex-direction: row;
    gap: 0;
  }
}
